<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 배경 도닥이 이미지들 -->
<div th:fragment="dodak-background">
    <img src="/img/휴식하는도닥이.png" alt="휴식하는 도닥이" class="dodak-bg-element dodak-float-1">
    <img src="/img/앉아서독서하는도닥이.png" alt="독서하는 도닥이" class="dodak-bg-element dodak-float-2">
    <img src="/img/문서보는도닥이.png" alt="문서보는 도닥이" class="dodak-bg-element dodak-float-3">
    <img src="/img/활짝웃는도닥이.png" alt="웃는 도닥이" class="dodak-bg-element dodak-float-4">
    <img src="/img/구름도닥이.png" alt="구름 위 도닥이" class="dodak-bg-element dodak-float-5">
    <img src="/img/생각하는도닥이.png" alt="생각하는 도닥이" class="dodak-bg-element dodak-float-6">
</div>
</body>
</html>
